<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAyPKIj7vcrVAKkWUeJpQzSKN9TvAj7A70</string>
	<key>GCM_SENDER_ID</key>
	<string>137022088985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.geco.myapplication</string>
	<key>PROJECT_ID</key>
	<string>gulfexchangeappproductionios</string>
	<key>STORAGE_BUCKET</key>
	<string>gulfexchangeappproductionios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137022088985:ios:5c4759045d6f104941c788</string>
</dict>
</plist>